/*basic css*/

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none
}

body{
    overflow-x: hidden;
}


/*basic css*/

#main-form{
    padding: 55px 0;
}
.biker-form{
        border-radius: 6px;
    border-top: 1px solid #7b1fa2;
    padding: 25px;
}